@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient( 102.7deg, rgba(253,218,255,1) 8.2%, rgba(223,173,252,1) 19.6%, rgba(173,205,252,1) 36.8%, rgba(173,252,244,1) 73.2%, rgba(202,248,208,1) 90.9% );
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  align-items: center;
}

.App {
  text-align: center;
}

.TodoWrapper {
  background: white;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 10px;
}

.TodoForm {
  width: 100%;
}

.todo-input{
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: black;
}

.todo-input::placeholder {
  color: #8758ff;
}

.todo-btn{
  background: #8758ff;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.fa-trash {
  margin-left: 1rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}